@use"./partials/variables" as*;
@import "node_modules/@fortawesome/fontawesome-free/css/all.min.css";

*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container{
    width: 100%;
}

.wrapper{
    width: 80%;
    margin: 0% auto;
}

.d-flex{
    display: flex;
}

.flex-column{
    flex-direction: column;
}

.space-between{
    justify-content: space-between;
}

.center{
    justify-content: center;
}

.align-item-center{
    align-items: center;
}

.green-text{
    color:$green-color;
    font-weight: lighter;
}

.margin-top{
    margin-top: 30px;
}

.pd-bottom{
    padding-bottom: 50px;
}

.bg-color-gray{
    background-color: $light-gray;
}

.bold{
    font-weight: bold;
}

